<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>VUE</title>
</head>

<body>
    <div id="app">
        <input type="checkbox" @change="fn" v-model="c">
        <input type="checkbox" @change="fn" v-model="c">
        <input type="checkbox" @change="fn" v-model="c">
        <input type="checkbox" @change="fn" v-model="c">
        <input type="checkbox" @change="change" v-model="d"> {{c}}
    </div>
    <script src="node_modules/vue/dist/vue.js"></script>
    <script src="node_modules/axios/dist/axios.js"></script>
    <!-- <script src="./ajaxpromise.js"></script> -->
    <script>
        let vm = new Vue({
            el: "#app",
            created() {  //数据初始化完成后调用
                axios("./package.json").then((res) => {
                    this.package = res.data;
                })
            },
            computed: {
                //  默认v-model会调取 checkAll的值
                checkAll: {
                    get() {
                        return this.c.every(item => item)
                    },
                    set(val) {
                        this.c = this.c.map(item => val)
                    }
                }
            },
            data: {
                c: [],
                d: false,
                package: {}
            },
            methods: {
                fn() {
                    this.d = this.c.every(item => item);
                    // if (this.c.length == 4) {
                    //     this.d=true;
                    // }
                    // if (this.c.length<4) {
                    //     this.d=false;
                    // }
                },
                change() {
                    // if (this.d==true) {
                    //     this.c = [1,2,3,4];
                    // }else{
                    //     this.c = []
                    // }
                    this.c = this.c.map(item => this.d)
                    console.log(this.c);
                }
            }
        })
    </script>
</body>

</html>